services:

  model-service:
    build: 
      context: ../model-service
      dockerfile: Dockerfile
      args:
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: model-service
    expose:
      - "${SERVER_PORT:-8081}"
    environment:
      SERVER_PORT: "${SERVER_PORT:-8081}"
      MODEL_DIR: /app/output
      
      # Can optionally put DOWNLOAD_URL here.
      # Then remove hard-coded URL from serve_model.py and load the env var.
      # DOWNLOAD_URL: ...

    # Without this, the model-service would always download 
    # since output would be empty.
    volumes:
      - ../model-service/output:/app/output


  app:
    build:
      context: ../app
      dockerfile: Dockerfile
      args:
        # F2: GitHub Package Registry authentication for lib-version
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: app
    ports:
      - "${APP_HOST_PORT:-8080}:8080"
    depends_on:
      - model-service
    environment:
      MODEL_HOST: "${MODEL_HOST:-http://model-service:8081}"
    