services:

  model-service:
    build: 
      context: ..
      dockerfile: model-service/Dockerfile
    container_name: model-service
    ports:
      - "8081:8081"

  app:
    build:
      context: ..
      dockerfile: app/Dockerfile
      args:
        # F2: GitHub Package Registry authentication for lib-version
        GITHUB_USERNAME: ${GITHUB_USERNAME}
        GITHUB_TOKEN: ${GITHUB_TOKEN}
    container_name: app
    ports:
      - "8080:8080"
    depends_on:
      - model-service
    environment:
      MODEL_HOST: http://model-service:8081
