services:

  model-service:
    build: ../model-service
    container_name: model-service
    expose:
      - "${SERVER_PORT:-8081}"
    environment:
      SERVER_PORT: "${SERVER_PORT:-8081}"


  app:
    build: ../app
    container_name: app
    ports:
      - "${APP_HOST_PORT:-8080}:8080"
    depends_on:
      - model-service
    environment:
      MODEL_HOST: "${MODEL_HOST:-http://model-service:8081}"
