apiVersion: v1
kind: Service
metadata:
  name: {{ include "project-app.fullname" . }}-frontend
  labels:
    app: {{ include "project-app.fullname" . }}
    component: frontend
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: metrics
  selector:
    app: {{ include "project-app.fullname" . }}
