apiVersion: v1
kind: PersistentVolume
metadata:
  name: model-pv-nfs
spec:
  capacity:
    storage: 10Mi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: 192.168.56.100 # ctrl node
    path: "/mnt/model" # path on VM
