# ansible/ctrl.yml
---
- name: Controller-specific configuration
  hosts: ctrl
  become: true

  tasks:
    # TODO: add tasks for other parts
    - name: Placeholder task (controller)
      ansible.builtin.debug:
        msg: "Controller playbook running on {{ inventory_hostname }}"
