# ansible/general.yml
---
- name: General configuration for all Kubernetes nodes
  hosts: all
  become: true

  tasks:
    # TODO: add tasks for other parts
    - name: Placeholder task
      ansible.builtin.debug:
        msg: "General playbook running on {{ inventory_hostname }}"